
<article class="message is-dark">
	<div class="message-header">
		<p>Editar o Evento</p>
	</div>
 </article>
<%= render 'form', event: @event %>

<br>
<%= link_to 'Mostrar', @event ,class: "button is-info"%> 
<%= link_to 'Voltar', events_path ,class: "button is-link"%>