
<article class="message is-dark">
	<div class="message-header">
		<p>Editar o Cadastro</p>
	</div>
 </article>
 <%= render 'form', persona: @persona %>
<br>
<%= link_to 'Mostrar', @persona ,class: "button is-info"%> 
<%= link_to 'Voltar', personas_path ,class: "button is-link"%>