
<article class="message is-dark">
	<div class="message-header">
		<p>Novo Cadastro de Dados Pessoais</p>
	</div>
 </article>
	<%= render 'form', persona: @persona %>
<br>
<%= link_to 'Voltar', personas_path,class: "button is-link" %>